<div class="container">
  <div class="box">
    <p class="title">USER INFO</p>
    <div class="flex">
      <img src="../assets/hero.jpg" class="hero" />
      <div>
        <p>POWER : {{ user.getPower | number }}</p>
        <p>GOLD : {{ user.getGold | number }}</p>
      </div>
    </div>
  </div>
  <div class="box">
    <p class="title">MONSTER INFO</p>
    <div class="flex">
      <img src="../assets/tanos.jpeg" class="monster" (click)="attack()" />
      <div>
        <p>LEVEL : {{ monster.getMonsterLevel }}</p>
        <p>HP : {{ monster.getHp | number }}</p>
        <p>GOLD : {{ monster.getGold | number }}</p>
      </div>
    </div>
    <button (click)="attack()" class="hit-btn">HIT</button>
  </div>
</div>
<div class="container">
  <div class="item-box">
    <p class="title">ITEM INFO</p>
    <p>POWER : {{ item.getValue | number }}</p>
    <p>PRICE : {{ item.getPrice | number }}</p>
    <button (click)="buyItem()" class="purchase">PURCHASE</button>
  </div>
</div>
